body {
  font-family: sans-serif;
}
.container {
  margin: 50px;
}
.phone-input {
  margin: 30px 0;
  padding: 10px;
  border: solid 1px #dddfe0;
  border-radius: 6px;
  font-size: 32px;
  letter-spacing: 1px;
}
.phone-link {
  margin: 30px 0;
  padding: 10px;
  border: solid 1px #dddfe0;
  border-radius: 6px;
  font-size: 16px;
  text-decoration: none;
}
